@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-Cubic box-border
  }
  section {
    @apply w-full h-screen bg-primaryGray-200
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 56px;
  }
  h4 {
    font-size: 48px;
  }
  h5 {
    font-size: 32px;
  }
  p {
    @apply md:text-[20px] md:leading-normal lg:text-[24px]
  }
}

@layer components{
  
    .text-shadow {
      text-shadow: 10px 10px 0px #00E733;
    }
    .text-shadow-sm {
      text-shadow: 4px 4px 0px #00E733;
    }

    .filter-pixelate{
      filter: url(#pixelate);
    }
    .filter-hexSchool{
      filter: url(#hexSchool);
    }
}


@font-face {
  font-family: 'Cubic';
  font-style: normal;
  src: url('../public/fonts/Cubic_11_1.013_R.woff2') format('woff2');
}
